[serverConfiguration]
listeners = [
    { network = "tcp", listenAddress = ":8080", h2cEnabled = true },
    { network = "unix", listenAddress = "unix/socket", h2cEnabled = true },
]
apiContext = "/api/v1"

[requestConfiguration]
externalHost = "aaronr.digital"

[profilingConfiguration]
enabled = false
#listenAddress = ":8082"

[requestLoggingConfiguration]
enabled = false
requestLogFile = "logs/request.log"
maxSizeMegabytes = 1
maxBackups = 10

[commandConfiguration]
maxConcurrentCommands = 1
requestTimeoutDuration = "2s"
semaphoreAcquireTimeoutDuration = "200ms"
commands = [
    { id = "w", "internalOnly" = true, description = "w", command = "/usr/bin/w" },
    { id = "sleep", description = "sleep 5", command = "/bin/sleep", Args = [
        "5",
    ] },
]
