# ~/.config/systemd/user/go-api.service

[Unit]
AssertPathExists=%h/go-api/go-api

[Service]
WorkingDirectory=%h/go-api
ExecStart=%h/go-api/go-api ./configfiles/%H-config.toml
Restart=always

[Install]
WantedBy=default.target
