# ~/.config/systemd/user/go-api.service

[Unit]
AssertPathExists=%h/go-api/go-api

[Service]
WorkingDirectory=%h/go-api
ExecStart=%h/go-api/go-api ./configfiles/config.toml
Restart=always
UMask=007

[Install]
WantedBy=default.target
